h2(mat-dialog-title) Accés per a familiars
mat-dialog-content([formGroup]="loginForm", style="display:flex; flex-direction: column; overflow-x: hidden")
    mat-form-field(appearance="outline", style="margin-bottom:15px")
        mat-label Codi d'accés
        input(matInput, autocomplete="off", [type]="hide ? 'text' : 'Codi'", formControlName="code" placeholder="Codi")
        mat-icon(matSuffix) info_outline
        mat-icon(style="cursor: pointer", (click)="hide = !hide", matPrefix) {{ hide ? "visibility" : "visibility_off" }}
        mat-error(*ngIf="loginForm.get('code').errors && !loginForm.get('code').valid &&!loginForm.get('code').errors['required'] && loginForm.get('code').touched") Codi invàlid
        mat-error(*ngIf="loginForm.get('code').errors && loginForm.get('code').errors['required'] && loginForm.get('code').touched") El codi es necessari
mat-dialog-actions
    button.btn.btn-primary(mat-raised-button, [disabled]="!loginForm.valid", (click)="doLogin()") {{ "core.LOGIN" | translate }}
    button.mat-raised-button((click)="close()") {{ "core.CLOSE" | translate }}
