:root {
  --medium-blue: #03a9f4;
  --light-blue: #81d4fa;
  --dark-blue: #01579b;
  --grey-light: #cfd8dc;
  --grey-medium: #78909c;
  --grey-dark: #263238;
  --grey: #3b3a30;
  --blue-grey: #b2c2bf;
  --blue: #667292;
}
