@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// General
$transitionDuration: 300ms !default;
$gutter: 1rem !default;
$transitionTiming: cubic-bezier(.35,0,.25,1);
$sidebarTrnTime: .3s;

// Widths
$sidebar-width: 15rem !default;
$compact-sidebar-width: 48px !default;
$compact-big-sidebar-width: 150px !default;

// Typography
$font-family-base: 'Montserrat', 'Open Sans', "Helvetica Neue", sans-serif !default;
$font-size-small: .7rem !default;
$font-size-base: .875rem !default;
$font-weight-base: 400 !default;
$font-weight-medium: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-super-bold: 900 !default;

$font-size-h1: 2rem !default;
$font-size-h2: 1.8rem !default;
$font-size-h3: 1.6rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;
$font-size-p: 0.9rem !default;

$headings-margin-bottom: (1rem / 2) !default;
$headings-font-family:   inherit !default;
$headings-font-weight:   400 !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }
