
.items-explication-list-container {
    .background-layer {
        padding: 25px;
    }
    .items-list {
        position: relative;
        display: block;
        max-width: 1000px;
        padding: 30px 25px;
        margin-left: auto;
        margin-right: auto;

        .item-row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height:250px;
            width: 100%;

            .item-title{
                color: var(--item-title-color);
            }
            .item-text {
            color: var(--item-text-color);
            }

            &:nth-child(2n) {
                .item-text-container {
                    padding-right:15px;
                    text-align: right;
                }
                .item-image-container {
                    padding-left: 15px;
                }
                .item-title {
                    margin-top: 10px;
                }
            }
            &:nth-child(2n + 1) {
                .item-image-container {
                    padding-right: 15px;
                }
                .item-text-container {
                    padding-left: 15px;
                    .item-title {
                        margin: 0
                    }
                }
            }
            .item-image-container {
                img {
                    border-style: solid;
                    border-width: 2px;
                    border-color: var(--image-border-color);
                    width: 100%;
                    height: 240px
                }
            }
            // Modelos de presentación de los items
            &.litleImage {
                .item-image-container img { height: 200px }
                &:nth-child(2n) { grid-template-columns: 1fr 250px;
                    .item-image-container { padding-left: 35px; border-left: solid 1px var(--image-border-color);}
                }
                &:nth-child(2n + 1) { grid-template-columns: 250px 1fr;
                    .item-image-container { padding-right: 35px; border-right: solid 1px var(--image-border-color);}
                }

            }
            &.enumList {
                .item-image-container { display: none }
                height: auto;
                margin-top:20px;
                &:nth-child(2n) {
                    grid-template-columns: 1fr 250px;
                    .item-text-container {
                        padding-right:0;
                    }
                }
                &:nth-child(2n + 1) {
                    grid-template-columns: 1fr 250px;
                    .item-text-container {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}
