section.items-explication-list-container([ngClass]="{'bg-fixed': options.bgFixed }", [ngStyle]="bgStyles")
    .background-layer([ngClass]="{'soft': !options.bgOptions || options.bgOptions.layered }")
        section-header([title]="title", [subTitle]="subTitle")
        .items-list.page-styled-container
            .item-row(*ngFor="let item of items; let index=index; let odd=odd; let even=even;", [ngClass]="{'litleImage': options.litleImage, 'enumList': options.enumList}")
                .item-image-container(*ngIf="even && !options.enumList")
                    img([src]="item.image.src", alt="{{item.image.alt}}")
                .item-text-container
                    .item-title
                        h3 {{ item.title | translator }}
                    .item-text(*ngIf="isArray(item.description | translator)")
                        p(*ngFor="let textItem of item.description | translator") {{ textItem }}
                    .item-text(*ngIf="!isArray(item.description | translator )")
                        p {{ item.description | translator }}
                .item-image-container(*ngIf="odd && !options.enumList")
                    img([src]="item.image.src", alt="{{item.image.alt}}")
