.rounded-icons-section
    section-header([title]="title", [subTitle]="subTitle")
    .icons-list-container.page-styled-container(*ngIf="options && options.iconType === 'icon'")
        .icon-list-item(*ngFor="let item of items")
            .icon-container
                mat-icon {{ item.icon }}
            h3.item-title {{ item.title | translator: lang }}
            p.item-text {{ item.subtitle | translator: lang }}

    .icons-list-container.page-styled-container(*ngIf="options && options.iconType === 'image'")
        .icon-list-item.image(*ngFor="let item of items")
            .icon-container.image
                img(src="{{ item.img.src }}", alt="{{ item.img.alt }}")
            .title-container.home-intro-subtitle {{ item.title | translator: lang }}
            .subtitle-container {{ item.subtitle | translator: lang }}
