
.rounded-icons-section {
    padding-top: 30px ;
    padding-bottom: 30px ;
    background-color: var(--background-color-component);

    .icons-list-container {
        display:flex;
        flex-direction: row;
        align-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;

        .icon-list-item {
            max-width: 220px;
            margin-left:25px;
            margin-right:25px;
            text-align: center;

            .item-title {
                margin-top: 5px;
                color: var(--title-color);
            }
            .item-text {
                padding: 5px;
                color: var(--subtitle-color);
            }
            .icon-container {
                width: 70px;
                padding: 40px;
                margin-right: auto;
                margin-left: auto;
                border: solid 1px var(--border-color);
                border-radius: 50%;

                mat-icon {
                    color: var(--icon-color);
                    font-size:65px;
                    height: 65px;
                    width: 65px;
                }

                &.image {
                    padding: 0;
                    overflow: hidden;
                    height:200px;
                    width:200px;
                    img {
                        height: 100%;
                        width:auto;
                    }
                }
            }
            &.image {
                max-width: 200px;
            }
        }
    }
}
