@import "./../../../../assets/styles/variables/fonts.scss";

// Component variables
$header-height: 150px;
$header-fixed-height: 50px;

#home-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100%;
    height: $header-height;
    top: 0;
    left: 0;
    transition: padding 0.3s linear;
    -webkit-transition: padding 0.3s linear;
    z-index: 10;
    background-color:  var(--header-bg-color);
    .hometop-btn {
        user-select: none;
        border-radius: 0;
        padding-bottom: 5px;
        color: white;
        margin-left: auto;
        mat-icon {
            margin-right: 5px;
        }
        &.clicked {
        }
        &.active {
            border-bottom: solid 1px blue;
        }
    }
    .header-logo {
        width: 200px;
        height: $header-height;
        background-image: url('./../../../../assets/images/logo_header_white.png');
        background-size: cover;
        background-repeat: no-repeat;
        transition: width 0.2s linear, height 0.2s linear;
    }
    .header-menu {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        height: $header-height;
        margin-left: 80px;

        .header_link {
            font-size: $font-size-h4;
            font-weight: $font-weight-medium;
            margin-right: 20px;
            text-decoration: none;
            color:  var(--header-link-color);

            &.active {
                color: var(--header-selected-link-color);
            }
        }
    }
    &.fixed {
        position: fixed !important;
        height: $header-fixed-height;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
        background-color: var(--header-fixed-bg-color);
        animation: 0.6s headerSlideDown forwards;
        top: 0;
        left: 0;
        padding-bottom: 0;

        .header-logo {
            background-image: url('./../../../../assets/images/logo_header_fixed.png');
            width: 130px;
            height: $header-fixed-height;
        }
        .header-menu {
            height: $header-fixed-height;
            .header_link {
                font-size: $font-size-h5;
                padding-bottom: 10px;
                color: var(--header-fixed-link-color);

                &.active {
                    border-bottom: solid 2px var(--header-selected-link-color);
                     color: var(--header-fixed-selected-link-color);
                    padding-bottom: 8px;
                }
            }
        }
    }
}

#header-mobile {
    display: none;
}

@keyframes headerSlideDown {
    0% {
        top: -50px;
    }
    100% {
        top: 0px;
    }
}

@media (max-width: 991px) {
    #home-header {
        display: none;
    }
    #header-mobile {
        display: flex;
        justify-content: space-between;
        position: fixed !important;
        height: $header-fixed-height;
        width: 100%;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
        background-color: var(--header-mobile-bg-color);
    }

    #menu-toggle {
        display: block;
        height: $header-fixed-height;
    }
    .header-logo {
        background-image: url(./../../../../assets/images/logo_header_fixed.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 130px;
        height: $header-fixed-height;
    }
    .header-menu {
display: none !important;
    }
}

#header-top-info {
    background-color: var(--header-info-bg-color);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    height: 30px;

    .header-info-item {
         display: flex;
         flex-direction: row;
         align-items: center;
        margin-right: 15px;
        margin-left: 15px;

        .title {
            color: var(--header-info-item-title-color);
            margin-right: 5px;

            mat-icon {
                height: 15px;
                width: 15px;
                font-size: $font-size-base;
            }
        }
        .content {
            color: var(--header-info-item-content-color);
        }
    }
}

  .menu-opened {

    #header-top-info {
        display: none;
    }
    .container {
        height: auto !important;
    }
  } 
  .top-menu {
    display: none !important;
  }
  .menu-opened:host .top-menu {
    margin-top: 50px;
    position: fixed;
    display: block !important;
    width: 100% !important;
    flex: none !important;
    background: url("../../../assets/images/textures/texture_background_light2.png");
    border-top: solid 1px blue;
  }
  .menu-opened:host .top-menu button {
    display: block;
    width: 100%;
    line-height: 56px !important;
    color: blue;
  }
}