section.items-explication-list-container([ngClass]="{'bg-fixed': options.bgFixed }", [ngStyle]="bgStyles")
  .background-layer([ngClass]="{'soft': !options.bgOptions || options.bgOptions.layered }")
    .items-list.page-styled-container
      .item-row(*ngFor="let item of items; let index=index; let odd=odd; let even=even;", 
        [ngClass]="{'litleImage': options.listType == 'litleImage', 'enumList': options.listType == 'enumList'}")
        .item-image-container(*ngIf="even && options.listType !== 'enumList'")
          img([src]="item.img.src", alt="{{item.img.alt}}")
        .item-text-container
          .item-title
            h2 {{ item.title  | translator }}
          .item-text
            p {{ item.description | translator }}
        .item-image-container(*ngIf="odd && options.listType !== 'enumList'")
          img([src]="item.img.src", alt="{{item.img.alt}}") 