.items-explication-list-container {
    .background-layer {
        padding: 25px;
    }
    .items-list {
        .item-row {
            display: grid;
            height:250px;
            width: 100%;

            &:nth-child(2n) {
                grid-template-columns: repeat(2, 1fr);

                .item-text-container {
                    padding-right:35px;
                }
            }
            &:nth-child(2n + 1) {
                grid-template-columns: repeat(2, 1fr);
                .item-text-container {
                    padding-left: 35px;
                    .item-title {

                        h2 {
                            margin: 0
                        }
                        
                    }
                }
            }
            .item-image-container {
                img { 
                    border: solid 3px blue;
                    width: 100%; 
                    height: 250px
                }
            }
            // Modelos de presentación de los items
            &.litleImage {
                .item-image-container img { height: 200px }
                &:nth-child(2n) { grid-template-columns: 1fr 250px; 
                    .item-image-container { padding-left: 35px; border-left: solid 1px blue;}
                }
                &:nth-child(2n + 1) { grid-template-columns: 250px 1fr; 
                    .item-image-container { padding-right: 35px; border-right: solid 1px blue;}
                }
                
            }
            &.enumList {
                .item-image-container { display: none }
                height: auto;
                margin-top:20px;
                &:nth-child(2n) {
                    grid-template-columns: 1fr 250px;
                    .item-text-container {
                        padding-right:0;
                    }
                }
                &:nth-child(2n + 1) {
                    grid-template-columns: 1fr 250px;
                    .item-text-container {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}