.carousel-container {
  margin: 50px auto;
  width:100%;
  height:auto;

  .ngucarousel-items {
    justify-content: space-around;
  }

  .item {
    .mat-card {
      margin: 15px;
      padding:0;
      .image-container {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;

        img {
          height: 210px;
          width: auto;
        }
      }

      .mat-card-content {
        .text-content {
          height:100px;
          padding: 15px;

          .title {
              text-align: center;
              color: var(--item-title-color);
          }
          .subtitle {
              text-align: center;
              color: var(--item-text-color);
          }
        }
        .link-content {
          padding:5px;
            img {
                height: 30px;
            }
        }
      }
    }
  }
  .carousel-button {
    border: solid 1px var(--button-border-color);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 0px 7px -1px  var(--button-border-color), 1px 1px 0px -10px  var(--button-border-color);
    mat-icon {
      color: var(--button-color);
    }
  }
}


@media (max-width: 580px) {
  .carousel-container {
    background-image: none;
  }
}
