.carousel-container
    section-header([title]="title", [subTitle]="subTitle")
    ngu-carousel.carousel(#portfolioCarousel, [inputs]="carouselOptions", [dataSource]="items")
        ngu-item(NguCarouselItem, *nguCarouselDef="let item; let j = index")
            mat-card.p-0
                .image-container
                    img(mat-card-image, [src]="item.image.src", [alt]="item.image.alt")
                mat-card-content
                    .text-content
                        h5.title {{ item.title | translator: lang }}
                        p.subtitle {{ item.description | translator: lang }}
                    mat-divider.mb-1
                    .link-content.centered-content([ngClass]="{'logo': options.logo }")
                        a(*ngIf="item.link", target="_blanck", [href]="item.link")
                            img([src]="item.logo.src", [alt]="item.logo.alt")
                        button(mat-icon-button, *ngIf="!item.link")
                            mat-icon.text-muted((click)="openShareComponent()") share
        button.carousel-button.carousel-left(*ngIf="items.length && items.length > 3", mat-fab, NguCarouselPrev)
            mat-icon keyboard_arrow_left
        button.carousel-button.carousel-right( *ngIf="items.length && items.length > 3", mat-fab, NguCarouselNext)
            mat-icon keyboard_arrow_right
        ul.carousel-point(NguCarouselPoint)
            li(*ngFor="let j of portfolioCarousel.pointNumbers; let i = index", [class.active]="i==portfolioCarousel.activePoint", (click)="portfolioCarousel.moveTo(i)")
