h2(mat-dialog-title) {{ 'core.LOGIN_FORM' | translate }}
mat-dialog-content([formGroup]="loginForm", style="display:flex; flex-direction: column; overflow-x: hidden")
    mat-form-field(appearance="outline", style="margin-bottom:15px")
        mat-label {{ 'core.EMAIL' | translate }}
        input(matInput, formControlName="email", placeholder="{{ 'core.EMAIL' | translate }}")
        mat-icon(matSuffix) email_outline
        mat-error(*ngIf="loginForm.get('email').errors && !loginForm.get('email').valid &&  !loginForm.get('email').errors['required'] && loginForm.get('email').touched") {{ 'core.INVALID_EMAIL' | translate }}
        mat-error(*ngIf="loginForm.get('email').errors && loginForm.get('email').errors['required'] && loginForm.get('email').touched") {{ 'core.REQUIRED_EMAIL' | translate }}

    mat-form-field(appearance="outline", style="margin-bottom:15px")
        mat-label {{ 'core.LABEL_PASSWORD' | translate }}
        input(matInput, autocomplete="off", [type]="hide ? 'text' : 'password'",
            formControlName="password", placeholder="Password")
        mat-icon(matSuffix) info_outline
        mat-icon(style="cursor: pointer", (click)="hide = !hide", matPrefix) {{ hide ? 'visibility' : 'visibility_off'}}
        mat-error(*ngIf="loginForm.get('password').errors && !loginForm.get('password').valid &&  !loginForm.get('password').errors['required'] && loginForm.get('password').touched")  {{ 'core.INAVLID_PASSWORD' | translate }}
        mat-error(*ngIf="loginForm.get('password').errors && loginForm.get('password').errors['required'] && loginForm.get('password').touched") {{ 'core.REQUIRED_PASSWORD' | translate }}
    button(mat-raised-button, type="button", color="success", (click)="onGoogleLogin()") {{ 'core.GOOGLE_LOGIN' | translate }}
