
.content-item-container {
  padding:25px;
  height:auto;
}
  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .item-container {
      margin: 15px 25px;
      .image-container {
        width:150px;
        height:130px;
        border: solid 2px blue;
        border-radius: 8px;
        overflow: hidden;
        img {
            height: 100%;
        }
      }
      .item-content {

        .title-container {
          display:flex;
          justify-content: center;
          margin-top:5px;
          margin-bottom:5px;
        }

        .text-container {
            text-align: center;
        }
      }
    }
  }
