section.content-item-container([ngClass]="{'bg-fixed': options.bgFixed }", [ngStyle]="bgStyles")
    .background-layer([ngClass]="{'soft': options.layered === 'soft', 'medium': options.layered === 'medium', 'dark': options.layered === 'dark' }")
        section-header([title]="title", [subTitle]="subTitle")
        .content-container(*ngIf="items && items.length")
            .item-container(*ngFor="let item of items")
                .image-container.centered-content(*ngIf="item.rel && !item.link")
                    img(src="{{item.image.src}}", alt = "{{item.image.alt}}", (click)="goToRel(item.rel)")
                .image-container.centered-content(*ngIf="item.link && !item.rel")
                    a(href="item.link")
                        img(src="{{item.image.src}}", alt="{{item.image.alt}}")
                .image-container.centered-content(*ngIf="!item.link  && !item.rel")
                    img(src="{{item.image.src}}", alt="{{item.image.alt}}")
                .item-content
                    h4.title-container {{ item.title | translator : lang }}
                    .text-container(*ngIf="item.description")
                        p {{ item.description | translator : lang }}
