app-bgimage(bgImage="assets/images/background-home.jpg",
    subtitle="All starts here",
    title="Eurega Solutions",
    [options] = "{filter: 'medium'}",
    [template] = "homeTemplates.bgImageComponentTemplate",
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, quaerat quod vel cupiditate, illum alias, corporis voluptatum perspiciatis aspernatur eum excepturi voluptate ut! Placeat quae minima consequuntur nemo nobis vitae!")

app-rounded-icons( [title]="'web.home.SECTION_ROUNDED_TITLE' | translate ",  
                        [subTitle]="'web.home.SECTION_ROUNDED_SUBTITLE' | translate", 
                        [template] = "homeTemplates.roundedIconsComponentTemplate", 
                        [items]="mocks.roundedIcons")

app-pricing([title]="'web.home.SECTION_PRICING_TITLE' | translate", [subTitle]="'web.home.SECTION_PRICING_SUBTITLE' | translate", [items]="mocks.pricingItems" , [template] = "homeTemplates.pricingComponentTemplate")
app-portfolio([items]="mocks.portfolioItems", [title]="'web.home.SECTION_PORTFOLIO_TITLE' | translate", [subTitle]="'web.home.SECTION_PORTFOLIO_SUBTITLE' | translate", [options]="{logo: true}",  [template] = "homeTemplates.portfolioComponentTemplate")
app-title-image(bgImage="assets/images/titleImage.jpg", [subtitle]="'web.home.LIST_SUBTITLE' | translate", [title]="'web.home.LIST_TITLE' | translate", [options]="{ bgFixed: true }")
app-items-list([items]="mocks.itemListItems",  [options]="{logo: true, bgFixed: false, bgOptions: 'repeat'}",  [template] = "homeTemplates.itemsListComponentTemplate",
bgImage="assets/images/textures/top_bg.jpg")
app-items-list-explication([items]="listExplicationComponent.items",
                    [options]="listExplicationComponent.options",
                    [bgImage]="listExplicationComponent.bgImage",
                    [template]="listExplicationComponent.template")
app-boxes-list([items]="boxesListComponent.boxesListItems", 
                    [options]="boxesListComponent.boxesListOptions", 
                    [title]="boxesListComponent.boxesListTitle", 
                    [subTitle]="boxesListComponent.boxesListSubTitle", 
                    [bgImage]="boxesListComponent.boxesListBgImage")
