#pricings-section
    section-header([title]="title", [subTitle]="subTitle")
    .pricing-container
        mat-card.plan-pricing-item(*ngFor="let item of items")
            mat-card-title
                .pricing-item-title {{ item.title | translator: lang }}
                .pricing-item-description {{ item.description | translator: lang }}
            mat-card-content
                .includes
                    .include(*ngFor="let include of item.includes") {{ include | translator: lang }}
                .details
                    .detail(*ngFor="let detail of item.details") {{ detail | translator: lang }}
