#pricings-section {
    padding-top: 30px;
    padding-bottom: 30px;

    .pricing-container {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;

        .plan-pricing-item {
            box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
            width: 300px;
            margin-right: 25px;
            padding:0 ;
            .mat-card-title {
                padding-top: 20px;
                padding-bottom: 20px;
                margin-bottom: 0;
                background-color: rgba(0,0,0,.024);
                border-bottom: solid 1px var(--item-title-separator);
                .pricing-item-title {
                    color: var(--item-title-color);
                    text-align: center;
                    font-size: 1rem;
                    margin-bottom:5px;
                }
                .pricing-item-description {
                    color: var(--item-description-color);
                    text-align: center;
                    font-size: .85rem;
                }
            }
            .mat-card-content {
                padding-top:20px;
                padding-bottom: 20px;
                padding-left: 1.5rem;
                padding-right: 1.5rem;

                .includes {
                    min-height: 164px;
                    border-bottom: solid 1px var(--item-title-separator);
                    .include {
                        text-align: center;
                        margin-bottom: 15px;
                        color: var(--pricing-includes-color);
                    }
                }
                 .details {

                    .detail {
                        text-align: center;
                        margin-top: 15px;
                        color: var(--pricing-detail-text-color)
                    }
                }
            }
        }
    }
}
