a, a:focus, a:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: 0;
}

button {
  outline: 0;
}

figure {
  margin: 0;
}

strong, b {
	font-weight: 700;
}

.strikethrough {
  text-decoration: line-through;
}
