.centered-content {
  display:flex;
  justify-content: center;
  align-items: center;
}


/*------ Carousel -------*/
.ngucarousel {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}
.ngucarousel-inner {
  padding: 8px 0 18px;
}
.ngucarousel .carousel-left,
.ngucarousel .carousel-right {
  position: absolute;
  top: calc(50% - 28px);
  background: #ffffff !important;
  color: rgba(0, 0, 0, .87);
}
.ngucarousel .carousel-left {
  left: 5px;
}
.ngucarousel .carousel-right {
  right: 5px;
}

.carousel-point {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;

  li {
    display: inline-block;
    border-radius: 50%;
    background: #6b6b6b;
    padding: 5px;
    margin: 0 4px;
    transition-timing-function: cubic-bezier(.17,.67,.83,.67);
    transition: .4s;
    cursor: pointer;
  }

  li.active {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
  }
}


.background-layer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex:1;
        padding:0;
        &.soft {
            background-color: rgba(0,0,0,.3)
        }
        &.medium {
            background-color: rgba(0,0,0,.4)
        }
        &.dark {
            background-color: rgba(0,0,0,.5)
        }
    }
