section.obituaries-section.text-center('[ngClass]'="{'bg-fixed': options.bgFixed }" '[ngStyle]'="bgStyles")
    .background-layer.medium
        section-header([title]="title", [subTitle]="subTitle")
        .obituaries-list(*ngIf="!options.single && items && items.length")
            .obituaries-item(*ngFor="let obituary of items")
                a([routerLink]="['/obituary', obituary.id]")
                    img([src]="imageBucket + obituary.imageUrl", [alt]="obituary.name")
        .obituaries-list.single(*ngIf="options.single && items && !items.length")
            .obituaries-item
                img([src]="imageBucket + items.imageUrl", [alt]="items.name")
        .obituaries-info(*ngIf="items && !items.length && (items.church || items.cementery)")
            .info-item
                .text
                    h3 Esglesia
                    p {{items.church.name}} ({{items.church.city}})
                .image
                    a([href]="items.church.googleMapsUrl ? items.church.googleMapsUrl : '#'", target="_blanck")
                        img([src]="imageBucket + items.church.imageUrl")
            .info-item
                .text
                    h3 Cementiri
                    p {{ items.cementery.name }}
                .image
                    a([href]="items.cementery.googleMapsUrl ? items.cementery.googleMapsUrl : '#'", target="_blanck")
                        img([src]="imageBucket + items.cementery.imageUrl")
        .obituaries-list(*ngIf="loading")
            mat-spinner([diameter]="40")
        .obituaries-list(*ngIf="items && !items.length")
