.obituaries-section {
  padding-top: 20px;

  .obituaries-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 150px;
    .obituaries-item {
      margin: 15px;
      max-width: 450px;
      overflow: hidden;
      > img {
        width: 100%;
        height: auto;
      }
    }
    &.single {
      min-height: 350px;
      padding: 80px;
    }
  }
  .obituaries-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 150px;
    width: 100%;

    .info-item {
      width: 250px;
      margin: 0 20px;

      img {
        padding: 1px;
        border: solid 1px blue;
        width: 250px;
        height: 120px;
      }
    }
  }
  mat-spinner::ng-deep circle {
    stroke: blue !important;
  }
}
