 .section-header {
        width:350px;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        margin-bottom: 25px;

        .title-divider {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
