// Common styles from all webs
@import './assets/styles/common.scss';
@import './assets/styles/custom.scss';

body {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
}

html, body { height: 100%; }
body { margin: 0; }
h1, h2, h3, h4, h5, h6, p { margin: 0}
