#header-top-info
    .header-info-item
        .title.centered-content
            mat-icon phone
        .content 93 822 23 08
    .header-info-item
        .title.centered-content
            mat-icon email
        .content admin@eurega.es
    .header-info-item
        .title.centered-content
            mat-icon place
        .content C/ eurega s/n
header#home-header([ngClass]="{'fixed': isFixed}")
  .header-logo
  nav.header-menu
    a.header_link([routerLink]="['home']", routerLinkActive="active") HOME
    a.header_link SERVICIOS
  ng-template(*ngIf="!appUser")
    button.hometop-btn(mat-button, (click)="openSigninPopup()")
        mat-icon account_circle
        span {{'core.LOGIN_HEADER_TITLE' | translate }}

    ng-template#user-options( *ngIf="appUser")
        button.hometop-btn.image(mat-button, [matMenuTriggerFor]="menu",
            [style.backgroundImage]="'url(' + appUser.photoURL + ')'",
            [style.margin-right]="'50px'")
        mat-menu(#menu="matMenu")
            button(mat-menu-item (click)="doLogout()")
                mat-icon person_add_disabled
                span Logout

header#header-mobile
  .header-logo
  button#menu-toggle((click)="toggleMenu()", mat-icon-button)
    mat-icon menu
