section#intro-section.home-intro-section.text-center([ngClass]="{'bg-fixed': options.bgFixed }",
    [ngStyle]="{'background-image': 'url(' + bgImage + ') ', 'background-size': 'cover', 'background-position': options.bgPosition, 'background-repeat': 'no-repeat'}")
    .background-layer.medium
        .container
            .home-intro-subtitle(*ngIf="subtitle")  {{ subtitle }}
            h1.home-intro-title(*ngIf="title") {{ title }}
        .intro-product
            img(*ngIf="titleImage", [src]="titleImage", alt="Imagen de título")
