.container {
  height:100%;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.home-intro-section {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: #ffffff;
    overflow: visible;
    height:400px;
    margin-bottom: 0;
    background-repeat: no-repeat;

    &.bg-fixed {
      background-attachment: fixed;
    }
}
  .home-intro-title {
    margin: 0 0 24px;
    font-size: 48px;
    font-weight: 900;
    line-height: 54px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
  }
  .home-intro-subtitle {
    max-width:900px;
    margin: 0 0 22px;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
  }
  .home-intro-text {
    max-width: 570px;
    margin: 0 auto 24px;
  }

  .intro-product {
    position: relative;
    top: auto;
    left: auto;
    bottom: -102px;
    img {
      max-height:500px;
      width:auto;
    }
  }

  @media (max-width: 767px) {
    .home-intro-section {
      padding: 0;
    }
    .home-intro-title {
      margin: 0 0 24px;
      font-size: 36px;
      font-weight: 900;
      line-height: 38px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
    }
    .intro-product {
      bottom: -63px; // Adjust this for your product image
      img {
        width: 480px;
      }
    }
  }
  @media (max-width: 580px) {
    .intro-product {
      bottom: -39px; // Adjust this for your product image
      img {
        width: 280px;
      }
    }
  }
