section.bg-image( [ngStyle]="{'background': 'url(' + bgImage + ') no-repeat center center', 'background-size': 'cover'}")
    .background-layer([ngClass]="{'soft': template.filter == 'soft', 'medium': template.filter == 'medium', 'dark': template.filter == 'dark'}")
        .container([ngClass]="{'extended': options.componentType === 'titleExtended'}")
            .component-title-container
                h2.subtitle(*ngIf="subtitle" ) {{ subtitle }}
                h1.title(*ngIf="title") {{ title }}
                p.text(*ngIf="text") {{ text }}
                .intro-product(*ngIf="titleImage")
                    img([src]="titleImage", alt="Imagen de título")
        .content-container(*ngIf="(options.componentType === 'titleExtended') && items && items.length")
            .item-container(*ngFor="let item of items", [ngClass]="{'solid': options.style === 'solid'}")
                .image-container(*ngIf="options.iconType === 'image'")
                    img(src="{{ item.img.src }}", alt="{{ item.img.alt }}")
                .icon-container(*ngIf="options.iconType === 'icon'" )
                    mat-icon {{ item.icon }}
                .item-content
                    .title-container {{ item.title }}
                    .text-container
                        p {{ item.description }}
