.bg-image {
    display: flex;
    height:100vh;

    .component-title-container {
        margin-bottom: 20px;
        >.subtitle {
            color: var(--subtitle-color);
            text-align: center;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        >.title {
            color: var(--title-color);
            margin: 0 0 24px;
            font-size: 48px;
            font-weight: 900;
            line-height: 54px;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
            text-align: center;
        }
        >.text {
            color: var(--text-color);
            max-width: 570px;
            margin: 0 auto 24px;
            text-align: center;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

    }
}
